{% extends 'base.html' %}
<!-- Blogs -->
{% load static %}
{% block content %}

<div class="row w-100 mt-4">
    <div class="container">
        <div class="col-11 col-md-8 mx-auto card">
            <img src="{{single_blog.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{single_blog.title}}</h5>
                <p class="card-text">{{single_blog.content}}</p>
                <p class="card-text">
                    {% for tag in single_blog.tags.all %}
                    <span class="badge rounded-pill text-bg-{{badge_color|random}}">{{tag}}</span>
                    {% endfor %}
                </p>
                <form action="{% url 'read_later' %}" method="post" class="text-end my-2">
                    {% csrf_token %}
                    <input type='hidden' value="{{single_blog.id}}" name="read_later_blog" >
                    <button type="submit" {% if single_blog.id in request.session.idsession %}disabled{% endif %}><i class="bi bi-bell-fill m-2"></i>Read Later</button>
                </form>
                <div class="d-flex justify-content-between">
                    <p class="card-text"><small class="text-muted">By {{single_blog.author.all | join:', ' | default:None}}</small></p>
                    <p class="card-text"><small class="text-muted">Date:-{{single_blog.created}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

   
{% endblock content %}

